.visit-list-item {
  display: flex;
  flex-direction: column;
}
.image {
  width: 250px;
  height: 150px;
}
.name-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.visit-name-para {
  color: #ffffff;
  font-family: roboto;
  font-size: 15px;
}
.remove-button {
  background-color: transparent;
  padding: 5px;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  border-radius: 3px;
}
